*{
    margin: 0;
    padding: 0;
    
}
/* header area */

.single_portfolio_item{
    background-image: url(../img/web1.jpg);
}
.single_portfolio_item:nth-child(2){
    background-image: url(../img/web2.jpg);
}
.single_portfolio_item:nth-child(3){
    background-image: url(../img/web3.jpg);
}
.single_portfolio_item:nth-child(4){
    background-image: url(../img/web4.jpg);
}
.logo {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 5px;
}

.logo a {
    color: red;
    text-decoration: none;
}

.main_menu {
    text-align: right;
}

.main_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px;
}

.main_menu li {
    display: inline-block;
}

.main_menu li a {
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
    display: block;
    padding-right: 0;
    padding-left: 40px;
}
/* header area close */

/* Hamburger Area */

.hero_area {
    background-color: #1d1e20;
}

.hero_area h2 {
    color: #fff;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.6;
}

.hero_area a, .hero_area {
    color: #64696d;
    text-decoration: none;
}

.hero_area h2 span {
    color: #e3bb1d;
    text-transform: uppercase;
}

.hero_area {
    padding-top: 220px;
    padding-bottom: 100px;
}

.section_padding.header_absolute, .section_padding.header_absolute a {
    color: #fff;
}

.section_padding.header_absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 60px 0;
}
/* Hamburger Area  end */

/* Feature area */
.section_padding {
    padding: 100px 0;
}

.section_padding.yellow_bg {
    background-color: #e3bb1e;
    color: #fff;
}

.single_portfolio_item {
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-left: 2%;
    float: left;
    width: 60%;
    margin-bottom: 2%;
    background-color: #ddd;
}

.portfolio_list {
    margin-left: -2%;
    overflow: hidden;
}

.single_portfolio_item.small_item {
    width: 36%;
}
/* Feature area end */

/* Creative Area */

.section_padding.dark_bg {
    background-color: #1d1e20;
}

.section_padding.dark_bg, .section_padding.dark_bg a {
    color: #6e6f71;
}

.cta_text {
    font-size: 20px;
    line-height: 2;
}

.cta_text h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
}

.dark_bg a.bordered_btn {
    text-decoration: none;
    display: inline-block;
    border: 2px solid #e3bb1e;
    padding: 5px 60px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #e3bb1e;
}

.cta_text p {
    margin-bottom: 60px;
}
/* Creative Area end */

/* footer area */
.footer_area {
    background-color: #1d1e20;
    color: #66676b;
    text-transform: uppercase;
    font-weight: 500;
    border-top: 1px solid #424345;
    padding: 20px 0 15px;
}

.social_icon {
    font-size: 20px;
    margin-top: -5px;
}

.footer_area a {
    color: #61666c;
    display: inline-block;
}

.social_icon a {
    padding-left: 15px;
    transition: 0.3s;
}

.social_icon a:hover {
    color: #e5ba1e;
}
/* footer area end */
