*{
    margin: 0;
    padding: 0;
    
}
.contact_wrapper_bg{
    background-image: url(../img/cover.jpg);
}
.contact_wrapper {
    position: relative;
    padding: 80px;
    color: #fff;
}

.section_padding {
    padding: 80px 0;
}

.contact_wrapper_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75%;
    content: '';
}

.contact_wrapper_bg {
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}

.contact_wrapper .row {
    z-index: 2;
    position: relative;
}

.contact_wrapper_bg::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    z-index: -1;
    opacity: 0.6;
}

.boxed_from {
    padding: 50px;
    background-color: #fff;
    margin-left: 100px;
    color: #333;
    box-shadow: 0 0 3px #E3E3E3;
}

.boxed_from input, .boxed_from textarea {
    width: 100%;
    padding: 10px;
    border:1px solid #ddd;
}

.boxed_from  textarea {
    height: 120px;
}

.boxed_from input[type=submit] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border: none;
    height: 55px;
    font-size: 18px;
    text-transform: uppercase;
}
