/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    
}
/* Tablet & mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 
    .single_portfolio_item {
        width: 50%;
    }
    .single_portfolio_item.long {
        width: 50%;
    }
    .portfolio_list {
        margin-bottom: 305px;
    }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    .single_portfolio_item, .single_portfolio_item.boxed {
        width: 100%;
    }
    .single_portfolio_item.long {
        width: 100%;
    }
    .footer_area {
        position: relative;
    }
    
    .footer_area .col-md-3 {
        margin-bottom: 40px;
    }
    .portfolio_list {
        margin-bottom: 0;
    }
    .offcanvas_menu{
        width: 100%;
        right: -100%;
    }
    .logo {
        margin-top: -6px;
    }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
   
}