@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
a:focus, input:focus, textarea:focus, button:focus{
    outline: 0 solid;
}
a:hover{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0 0 15px;
    font-weight:700;
    font-family: 'Quicksand', sans-serif;
}
body{
    font-family: 'Muli', sans-serif;
}
.section_padding{
    padding: 80px 0;
}
.portfolio_bg_1{background-image: url(../img/portfolio-1.jpg);}
.portfolio_bg_2{background-image: url(../img/portfolio-2.jpg);}
.portfolio_bg_3{background-image: url(../img/portfolio-3.png);}
.portfolio_bg_4{background-image: url(../img/portfolio-4.png);}
.portfolio_bg_5{background-image: url(../img/portfolio-5.jpg);}
.portfolio_bg_6{background-image: url(../img/portfolio-6.jpg);}
.portfolio_bg_7{background-image: url(../img/portfolio-7.jpg);}
.portfolio_bg_8{background-image: url(../img/portfolio-8.png);}
.portfolio_bg_9{background-image: url(../img/portfolio-9.jpg);}
.portfolio_bg_10{background-image: url(../img/portfolio-10.jpg);}
.portfolio_bg_11{background-image: url(../img/portfolio-11.jpg);}

.logo a {
    color: #000;
}

.logo h1 {
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    position: relative;
    display: inline-block;
}
.logo h1 span {
    font-size: 8px;
    position: absolute;
    right: -10px;
    top: 4px;
}
.menu_trigger span {
    display: block;
    background: #000;
    height: 2px;
}

.menu_trigger span:nth-child(2) {
    margin: 6px 0;
}

span.menu_trigger {
    display: inline-block;
    width: 28px;
}
.menu_trigger:hover span:nth-child(1), .menu_trigger:hover span:nth-child(3) {
    margin: 0 5px;
}

.header_area {
    padding: 30px 40px;
}

.single_portfolio_item {
    float: left;
    width: 25%;
    height: 330px;
    background-size: 100%;
    background-position: center;
    background-color: #ddd;
    display: table;
    transition: 0.5s;
}

.portfolio_hover {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.portfolio_hover a {
    color: #333;
}

.portfolio_hover h2 {
    font-size: 24px;
}

.portfolio_hover p {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.5;
}

.portfolio_hover p:hover {
    opacity: 1;
}
.single_portfolio_item:hover .portfolio_hover {
    opacity: 1;
    visibility: visible;
}

.single_portfolio_item:hover {
    background-size: 120%;
}

