@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap');
*{
    margin: 0;
    padding: 0;
}
a:focus, input:focus, textarea:focus, button:focus{
    outline: 0 solid;
}
a:hover{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0 0 15px;
    font-weight:700;
}
body{
    font-family: 'Roboto', sans-serif;
}
body {
    color: #333;
    font-size: 16px;
    line-height: 1.8;
}
img{
    max-width: 100%;
}
.section_padding{
    padding: 80px 0;
}
.section_title {
    margin-bottom: 50px;
}

.section_title h2 {
    padding-bottom: 20px;
    position: relative;
}

.section_title h2::after, .section_title h2::before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    width: 65px;
    height: 2px;
    background-color: #FFC107;
    margin-left: -15px;
}

.section_title h2::before {
    background: black;
    z-index: 3;
    width: 20px;
    transform: translateX(22px);
}

.single_service_icon {
    text-align: center;
    display: block;
    color: #333;
    min-height: 240px;
    margin-bottom: 30px;
}

.single_service_icon h3 {
    margin: 20px 0;
    font-size: 22px;
}

.service_icon_container {
    display: table;
    height: 80px;
    width: 100%;
    color: red;
    font-size: 65px;
}

.service_icon_tabelcell {
    display: table-cell;
    vertical-align: middle;
}
