@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap');
*{
    margin: 0;
    padding: 0;
}
a:focus, input:focus, textarea:focus, button:focus{
    outline: 0 solid;
}
a:hover{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0 0 15px;
    font-weight:700;
}
body{
    font-family: 'Roboto', sans-serif;
}
body {
    color: #333;
    font-size: 16px;
    line-height: 1.8;
}
img{
    max-width: 100%;
}
.section_padding{
    padding: 80px 0;
}
.section_bg_1::after{background-image:url(../img/img-1.jpg)}
.section_bg_1 {
    position: relative;
}

.section_bg_1::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 47%;
    background-color: #ddd;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

h2.section_title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    color: #333;
}

h2.section_title span {
    color: #00b9ff;
}

body {
    color: #a9a9a9;
    font-size: 15px;
    line-height: 1.7;
}


.card-header {
    border: none;
    background-color: transparent;
    padding: 0;
}

.card {
    margin-bottom: 20px;
    border-radius: 0;
}

.card-header a h5 {
    display: block;
    padding: 15px;
    position: relative;
}

.card-header a h5 i.fa {
    float: right;
    font-size: 150%;
    line-height: 15px;
    display: none;
}

.card-header a[aria-expanded=true] i.fa.fa-angle-up {
    display: block;
}
.card-header a[aria-expanded=false] i.fa.fa-angle-down {
    display: block;
}

.twist_faqs {
    min-height: 400px;
}

.card-header h5 {
    color: #2b2b2b;
    font-weight: 400;
    font-size:18px;
}